<div *ngIf="error">
  <h5>Error:</h5>
  <div class="alert alert-danger" role="alert">
    <pre>{{error | json}}</pre>
  </div>
</div>

<div *ngIf="message">
  <h5>Message:</h5>
  <div class="alert alert-success" role="alert">
    <pre>{{message | json}}</pre>
  </div>
</div>


<div class="row">
  <div class="col-4">
    Binck Trading Account: {{accountNumber}}<br>
    <small>Binck Access Token: {{access.access_token}}</small>
    <br>
    <small>Binck Refresh Token: {{access.refresh_token}}</small>
    <br>
    <small>Token Age: {{tokenAge}} Seconds</small>
    <br>

    <a [href]="loginUrl" class="btn btn-primary" role="button" aria-pressed="true">Login Alt+l</a>

    <button *ngIf="access.access_token && access.refresh_token"
            (click)="refreshBinckToken()"
            type="button"
            class="btn btn-primary ml-5">Refresh Token Alt+r
    </button>

    <h6>Instrument</h6>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="instrumentQuery">Name</label>
        <input type="text"
               class="form-control mb-2"
               id="instrumentQuery"
               placeholder="Instrument..."
               (keyup)="instrumentQueryKeyUp($event)"
               [formControl]="instrumentQuery">
      </div>
      <div class="col-auto">
        <button type="button"
                class="btn btn-primary mb-2"
                (click)="onInstrumentQuery(instrumentQuery.value)">
          <i class="far fa-search"></i> Search
        </button>
      </div>
      <div class="col-auto">
        {{instrumentCount}}
      </div>
    </div>
    <table class="table table-sm table-striped table-hover instruments-table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Symb</th>
        <th scope="col">Exch</th>
        <th scope="col">Cur</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let instr of instruments; let i = index"
          (click)="onInstrumentTableClick(i)"
          [class]="instrument.id===instr.id?'table-success':''">
        <td scope="row">{{i}}</td>
        <td>{{instr.id}}</td>
        <td>{{instr.tickerSymbol}}</td>
        <td>{{instr.marketIdentificationCode}}</td>
        <td>{{instr.currency}}</td>
        <td>{{instr.type}}</td>
        <td>{{instr.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="instrument.id"
       class="col-4">
    <h6>Instrument</h6>
    <pre>{{instrument | json}}</pre>
    <h6>quotes</h6>
    <pre>{{quotes | json}}</pre>
  </div>
  <div *ngIf="instrument.id"
       class="col-4">
    <h5>{{instrument.tickerSymbol}} <span class="float-right">{{instrument.marketIdentificationCode}}</span></h5>
    <form [formGroup]="orderForm">
      <div class="form-group row">
        <label for="instrumentId_" class="col-4 col-form-label col-form-label-sm text-right">instrId*</label>

        <div class="col-4">
          <input type="text"
                 class="form-control form-control-sm"
                 id="instrumentId_"
                 name="instrumentId_"
                 placeholder="..."
                 formControlName="instrumentId">
        </div>
      </div>

      <div class="form-group row">
        <label for="quantity" class="col-4 col-form-label col-form-label-sm text-right">quantity*</label>

        <div class="col-4">
          <input type="number"
                 class="form-control form-control-sm"
                 id="quantity"
                 name="quantity"
                 step="100"
                 formControlName="quantity">
        </div>

        <div class="col-4">

        </div>
      </div>

      <div class="form-group row">
        <label for="currentAskPrice" class="col-4 col-form-label col-form-label-sm text-right">currentAskPrice</label>
        <div class="col-4" id="currentAskPrice">
          {{currentAskPrice}}
        </div>
        <div class="col-4">
        </div>
      </div>

      <div class="form-group row">
        <label for="addPercentage" class="col-4 col-form-label col-form-label-sm text-right">add %*</label>
        <div class="col-4">
          <input type="number"
                 class="form-control form-control-sm"
                 id="addPercentage"
                 name="addPercentage"
                 [step]="0.1"
                 (change)="onAddPercentageChange()"
                 formControlName="addPercentage">
        </div>

        <div class="col-4">
          {{currentAddToPrice}}
        </div>

      </div>

      <div class="form-group row">
        <label for="limitPrice" class="col-4 col-form-label col-form-label-sm text-right">limitPrice*</label>

        <div class="col-4">
          <input type="number"
                 class="form-control form-control-sm"
                 id="limitPrice"
                 name="limitPrice"
                 [step]="currentTickSize"
                 formControlName="limitPrice">
        </div>

        <div class="col-4">
          {{currentTickSize}} ({{currentAskPriceDecimals}})
        </div>
      </div>

      <div class="form-group row">
        <button type="button"
                class="btn btn-danger"
                (click)="onSubmitBuyOrder()">
          <i class="far fa-paper-plane"></i> Buy Order Alt+z
        </button>
      </div>

      <div class="form-group row">
        <label for="currentBidPrice" class="col-4 col-form-label col-form-label-sm text-right">currentBidPrice</label>
        <div class="col-4" id="currentBidPrice">
          {{currentBidPrice}}
        </div>
        <div class="col-4">
        </div>
      </div>

      <div class="form-group row">
        <label for="minusPercentage" class="col-4 col-form-label col-form-label-sm text-right">minus %*</label>

        <div class="col-4">
          <input type="number"
                 class="form-control form-control-sm"
                 id="minusPercentage"
                 name="minusPercentage"
                 [step]="0.1"
                 (change)="onMinusPercentageChange()"
                 formControlName="minusPercentage">
        </div>

        <div class="col-4">
          {{currentSubtractFromPrice}}
        </div>

      </div>

      <div class="form-group row">
        <label for="stopPrice" class="col-4 col-form-label col-form-label-sm text-right">stopPrice*</label>

        <div class="col-4">
          <input type="number"
                 class="form-control form-control-sm"
                 id="stopPrice"
                 name="stopPrice"
                 [step]="currentTickSize"
                 formControlName="stopPrice">
        </div>

        <div class="col-4">
          {{currentTickSize}} ({{currentAskPriceDecimals}})
        </div>
      </div>

      <div class="form-group row">
        <button type="button"
                class="btn btn-warning"
                (click)="onSubmitStopLossOrder()">
          <i class="far fa-paper-plane"></i> Stop loss Order Alt+x
        </button>
      </div>

      <div class="form-group row">
        <button type="button"
                class="btn btn-success"
                (click)="onSubmitSellOrder()">
          <i class="far fa-paper-plane"></i> Sell Order Alt+c
        </button>
      </div>
    </form>

    <div *ngIf="validateResult">
      <h5>Message:</h5>
      <div class="alert alert-success" role="alert">
        <pre>{{validateResult | json}}</pre>
      </div>
    </div>

    <div *ngIf="placeResult">
      <h5>Message:</h5>
      <div class="alert alert-success" role="alert">
        <pre>{{placeResult | json}}</pre>
      </div>
    </div>
  </div>
</div>

